<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="bootstrap.css" />
  <script src="https://code.angularjs.org/1.5.3/angular.js"></script>
  <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="bootstrap.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
  <script src="dirPagination.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
	  
				<div ng-controller="DynamicTableController" class="my-controller">
					 <div class="row">
					 
						<div class="col-xs-8">
						  <label for="search">Filtrar:</label>
						  <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
						</div>
						
						<div class="col-xs-4">
						  <label for="search">Registros por pagina:</label>
						  <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
						</div>
						
					</div>
					<br>
					<div class="panel panel-default">
						<div class="panel-body">
						<!-- <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre> -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th ng-repeat="c in ordered_columns" class="c.title">
										<a ng-click="order(c.title)">{{ c.title }}<i class="fa fa-sort"></i>
										   <span class="sortorder" ng-show="predicate === c.title" ng-class="{reverse:reverse}"></span>
										</a>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="d in data | filter:q | itemsPerPage: pageSize" current-page="currentPage">
									   <td ng-repeat="c in ordered_columns">{{ d[c.title] }}</td>
									</tr>
								</tbody>
							</table>
						  
						</div>
				    </div>
				</div>

				<div ng-controller="OtherController" class="other-controller">
					<div class="text-center">
					    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination-template.html"></dir-pagination-controls>
					</div>
				</div>
             </div>
        </div>
    </div>
</body>

</html>
